.menu_btn {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.meun_btn__burger {
  width: 30px;
  height: 3px;
  background: rgb(0 0 0);
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.meun_btn__burger::before,
.meun_btn__burger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background: rgb(0 0 0);
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.meun_btn__burger::before {
  transform: translateY(-16px);
}
.meun_btn__burger::after {
  transform: translateY(16px);
}

/* ANIMATION */
.open > .meun_btn__burger {
  transform: translateX(-50px);
  background: transparent;
}

.open > .meun_btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.open > .meun_btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
